<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="obstacle1">
  <link name="base_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="35.75" />
      <inertia ixx="2" ixy="0" ixz="0" iyy="2" iyz="0" izz="2" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 -1.571" />
      <geometry>
        <mesh
          filename="package://dynacube/models/meshes/walking.dae"
          scale="0.8 0.8 0.8" />
      </geometry>
      <material
        name="default">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 -1.571" />
      <geometry>
        <mesh
          filename="package://dynacube/models/meshes/walking.dae"
          scale="0.8 0.8 0.8" />
      </geometry>
    </collision>
  </link>
</robot>
